# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Environment variables
.env

# Node
node_modules/
frontend/dist/
frontend/.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
